body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightslategrey;
}

#background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15; 
}

h1 {
    display: block;
    text-align: center;
    font-size: 500%;
    margin-top: 2%;
    padding: 3%;
    background-color: orange;
}

h3{
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    color:navy;
    border: 0.2rem solid black;
    border-radius: 0.3rem;
    background-color: plum;
}

.books{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: orangered; */
}

#row1, #row2, #row3{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
    height: 40rem;
    /* background-color: blue; */
}

.book{
    text-align: center;
    width: 19%;
    /* height: 50rem; */
    margin: 1%;
    /* background-color: chartreuse; */
}

.book img{
    width: 99.3%;
    height: 85%;
}

.book img:hover{
    cursor: pointer;
    box-shadow: 1em 1em 2em -0.6em black;
    width: 100%;
    height: 91%;
}

.book button{
    /* width: 50%; */
    height: 10%;
    margin-top: 1%;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color:rgb(235, 186, 94 ,0.7);
}

.book button:hover{
    height: 3.7rem;
    font-size: 1.1rem;
    box-shadow: 1em 1em 2em -0.9em black;
    cursor: pointer;
    /* width: 100%;
    height: 95%; */
}

.coverPage{
    visibility: hidden;
    width: 45%;
    font-size: 1.75rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    /* border-bottom: 0.1rem solid black;*/
    /* border-radius: 0.5rem; */
    box-shadow: 0.5em 0em 0.5em -0.6em black;
    /* background-color:rgb(252, 190, 199, 0.6); */
}

/* @media screen and (max-width:800px){
    #row1, #row2, #row3{
        flex-direction: column;
        height: auto;
    }
} */