body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
}

img{
    width: 625px;
}

.header{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.header form select{
    font-size: 18px;
    padding: 5px;
    margin-left: 10px;
}

.display{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: lightgreen; */
}

.display h2{
    font-size: 2rem;
    text-align: center;
    /* background-color:cornflowerblue; */
}

#p1Display, #p2Display{
    border: 0.2rem solid black;
    padding: 1rem;
    background-color: rgb(239, 136, 117);
}

#p1Display{
    margin-left: 1%;
    margin-right: 2%;
}

#p2Display{
    margin-left: 2%;
    margin-right: 1%;
}

.buttons{
    margin-top: 2rem;
}

.buttons button{
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
}

#p1Button{
    background-color: blue;
    border: 0.2rem solid darkblue;
}
#p2Button{
    background-color: green;
    border: 0.2rem solid darkgreen;
}
#reset{
    background-color: red;
    border: 0.2rem solid darkred;
}

#p1Buttondisabled, #p2Buttondisabled{
    background-color: grey;
    border: 0.2rem solid darkgrey;
    cursor: not-allowed;
}

@media screen and (max-width:1000px) {
    img{
        width: 500px;
    }
}
@media screen and (max-width:700px) {
    img{
        width: 300px;
    }
}